{
  "root": true,
  "env": { "browser": true, "es2020": true },
  "extends": [
    "airbnb",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "ignorePatterns": ["dist", "node_modules", ".eslintrc.cjs"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-refresh"],
  "rules": {
    // "@typescript-eslint/no-shadow": ["error"],
    // "@typescript-eslint/explicit-function-return-type": 0,
    // "@typescript-eslint/no-var-requires": 0,
    // "react/prop-types": 0,
    // "react/require-default-props": 0,
    // "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    // "react/jsx-one-expression-per-line": 0,
    "react/jsx-props-no-spreading": 0,
    // "react/jsx-curly-newline": 0,
    // "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    // "implicit-arrow-linebreak": 0,
    // "jsx-a11y/accessible-emoji": 0,
    // "no-unused-vars": 1,
    // "no-shadow": "off",
    "react/function-component-definition": [
      2,
      { "namedComponents": "arrow-function" }
    ],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "tsx": true
    }
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"]
    }
  ]
}
